<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Consulta de CEP</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Consulta de CEP</h1>
    <form action="/take_cep" method="get">
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" placeholder="Digite um CEP">
        <button type="submit">Consultar</button>
    </form>
    
    <div id="result">
       
    </div>
</body>
</html> 
